.loader {
  border: 24px outset lightgrey;
  border-radius: 10%;
  width: 120px;
  height: 120px;
  animation: loading 2.5s linear infinite;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.apiCall {
  padding: 5px;
  margin: 5px;
}
